/* MATRIX STYLES */
/* layout */
#matrix {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(400px, auto) 100px minmax(400px, auto);
    justify-items: center;

    .top,
    .bottom {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 400px 100px 400px;

        /* quadrants */
        .quadrant {
            width: 100%;

            .container {
                border: 1px solid gray;
                padding: .5em;
                border-radius: 10px;

                button {
                    margin-bottom: .5em;
                    margin-left: .3em;
                }
            }

            label {
                display: block;
                font-weight: 500;
                font-size: 1.4rem;
                text-align: center;
                margin-bottom: 1em;
            }
            
            /* textarea {
                width: 100%;
                height: 300px;
                padding: 1em;
                font: inherit;
            } */

            
        }
    }

    .middle {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 400px 100px 400px;
    }
}

.cs-button {
   border: none;
   background-color: aquamarine;
   padding: .7em .9em;
   font: inherit;               
}


/* arrows & circle */
.circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: gray;
    text-align: center;
}

/* arrows */
.arrow-up,
.arrow-down {
    height: 90%;
    width: 4px;
    background-color: black;
}

.arrow-left,
.arrow-right {
    transform: rotate(.5turn);
    background-color: black;
    width: 90%;
    height: 4px;
}