/* MATRIX STYLES */
/* layout */
#matrix {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(400px, auto) 100px minmax(400px, auto);
    justify-items: center;
    /* overflow: scroll; */
    padding: .5em;
    width: 90%;

    .top,
    .bottom {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: minmax(300px, 600px) 100px minmax(300px, 600px);

        /* quadrants */
        .quadrant {
            width: 100%;


            .container {
                /* border: 1px solid gray; */
                padding: 1em;
                border-radius: 10px;
                background-color: var(--primary-100);
                box-shadow: 0px 4px 10px 0px var(--grey-200);


                .menubar {
                    
                    padding: 1em;
                    border-radius: 5px;

                    .button-group {
                        display: flex;
                        flex-wrap: wrap;
                        gap: .5em;
                        margin-bottom: .5em;
                        padding-bottom: 1em;
                        border-bottom: 1px solid var(--grey-100);


                        button {
                            background-color: #fff;
                            box-shadow: 0px 4px 10px 0px var(--grey-300);
                            font: inherit;
                            border: none;
                            border-radius: 5px;
                            padding: .2em .6em;
                        }

                        .is-active {
                            background-color: var(--grey-900);
                            color: var(--grey-100);
                        }


                    }
                }



                .cs-button {
                    border: none;
                    background-color: var(--accentGreen-500);
                    color: var(--grey-100);
                    padding: .4em 1em;
                    font: inherit;
                    font-weight: 500;
                    margin-top: 1em;
                    border-radius: 5px;
                }


            }

            label {
                display: block;
                font-weight: 600;
                font-size: 1.5rem;
                text-align: center;
                margin: auto;
                margin-bottom: 1em;
                padding-bottom: .5em;
                border-bottom: 2px solid var(--grey-900);
                max-width: max-content;
                
            }

            /* textarea {
                width: 100%;
                height: 300px;
                padding: 1em;
                font: inherit;
            } */


        }
    }

    .middle {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: minmax(300px, 600px) 100px minmax(300px, 600px);
    }
}


/* arrows & circle */
.circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: var(--accentGreen-900);
    color: var(--grey-100);
    text-align: center;
    display: flex;
    align-items: center;
    align-self: end;

    span {
        position: relative;
        bottom: 5px;
    }
}

/* arrows */
.arrow-up,
.arrow-down {
    height: 90%;
    width: 4px;
    background-color: black;

}

.arrow-down {
    align-self: end;
}

.arrow-left,
.arrow-right {
    transform: rotate(.5turn);
    background-color: black;
    width: 90%;
    height: 4px;
    position: relative;
    top: 10px;
}

/* desktop */
@media screen and (min-width: 900px) {
    #matrix {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(400px, auto) 100px minmax(400px, auto);


        /* .top,
        .bottom,
        .middle {
            grid-template-columns: minmax(400px, 600px) 100px minmax(400px, 600px);
        } */
    }
}