/* Styles for home page */
#main {
    .description-text {
        padding: 2em;
        /* max-width: 700px; */
        margin: auto;

        h1 {
            margin-bottom: 1.5em;
        }

        h2 {
            /* margin-top: 0; */
            font-size: 1.7rem;
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
}