/* Styles for home page */
#main {
    width: 90%;
    margin: auto;

    .description-text {
        /* padding: 2em; */
        /* max-width: 700px; */
        margin: auto;

        h2 {
            /* margin-top: 0; */
            font-size: 1.7rem;
        }

        h2 + p {
            font-size: 1.1rem;
        }
        
        dl {
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding: 1em;
            max-width: 800px;

            dt {
                font-weight: 600;
                font-size: 1.3rem;
                
            }

            dd {
                margin-left: 0;
                font-size: 1.1rem;
            }
        }
    }
}