/* GENERAL STYLES */

/* variables */
:root {
  --primary-50: #fff8ed;
  --primary-100: #ffe4bb;
  --primary-200: #ffd594;
  --primary-300: #e1944d;
  --primary-400: #f39931;
  --primary-500: #f87e0d;
  --primary-600: #00ACC1;
  --primary-700: #0097A7;
  --primary-800: #00838F;
  --primary-900: #006064;

  --secondary-500: #2b8edf;
  --secondary-800: #20303a;

  --grey-50: #FAFAFA;
  --grey-100: #f9f9f9;
  --grey-200: #EEEEEE;
  --grey-300: #E0E0E0;
  --grey-400: #BDBDBD;
  --grey-500: #9E9E9E;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #292a2b;
  --grey-900: #212121;

  --accentGreen-100: rgb(171, 255, 175);
  --accentGreen-200: #88D6CA;
  --accentGreen-500: #94D688;
  --accentGreen-900: rgb(35, 75, 37);

  --headerFontSize: clamp(1.9375rem, 4.2vw, 3.5rem);

  // background and text
  --bodyBackgroundColor: #fafafa;
  --bodyTextColor: black;
  --userPanelBackground: #f5f5f5;
  --selectedBackground: #00838f;
  --borderColor: #bdbdbd;
  --navBackground: #00838f;
  --surfaceColor-1: var(--grey-100);
  --toolTipBackground: var(--primary-50);

  // matrix colors
  --matrixBackground: orange;
  --matrixSaveBtn: green;
  --matrixText: black;
  --editorButton: white;

  --editorColor: white;

  --boxShadowColor: gray;
  --boxShadowColor2: #1f5e58;
  --formBoxShadowColor: gray;
}

// theme colors
.app[data-theme='light'] {
  --bodyBackgroundColor: #f2f8ff;
  --headingColor: var(--secondary-800);
  --bodyTextColor: var(--secondary-800);
  --matrixBackground: var(--primary-50);
  --matrixSaveBtn: var(--accentGreen-100);
  --matrixText: var(--grey-900);
  --editorButton: #fff;
  --boxShadowColor: rgba(221, 221, 221, .8);
  --boxShadowColor2: #c8dbd9;
  --formBoxShadowColor: var(--grey-500);
  --editorColor: #fff;
  --userPanelBackground: #fff;
  --selectedBackground: var(--primary-200);
  --borderColor: var(--grey-200);
  --navBackground: white;

  --surfaceColor-1: white;
  --toolTipBackground: white;
}

.app[data-theme='dark'] {
  --bodyBackgroundColor: var(--grey-900);
  --headingColor: var(--grey-100);
  --bodyTextColor: var(--grey-400);
  --matrixBackground: var(--primary-700);
  --matrixSaveBtn: var(--accentGreen-500);
  --matrixText: var(--grey-100);
  --editorButton: var(--grey-300);
  --boxShadowColor: var(--grey-900);
  --boxShadowColor2: #131313;
  --formBoxShadowColor: var(--grey-900);
  --editorColor: #000000;
  --userPanelBackground: var(--grey-800);
  --selectedBackground: var(--primary-900);
  --borderColor: var(--grey-900);
  --navBackground: var(--grey-800);

  --surfaceColor-1: var(--grey-800);
  --toolTipBackground: var(--grey-800);
}

/* FONTS */
/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/inter-v18-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/inter-v18-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v18-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: auto;
}

/* GENERAL STYLES */
body {
  margin: 0;
}

.app {
  color: var(--bodyTextColor);
  background-color: var(--bodyBackgroundColor);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

// main {
//   background-color: var(--bodyBackgroundColor);
// }

h1 {
  font-size: var(--headerFontSize);
}

h1,
h2,
h3,
h4,
h5 h6 {
  color: var(--headingColor);
}

.heading-small {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  font: inherit;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: var(--secondary-500);
}

/* NAV STYLES */
#nav {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
  z-index: 10000;
  position: relative;
  margin: auto;
  background-color: var(--navBackground);

  &.cs-active {
    &:before {
      width: 100%;
      opacity: 1;
    }

    .ul-wrapper {
      opacity: 1;
      transform: scaleX(1);
      transition-delay: 0.2s;
    }
  }

  .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    border-radius: calc(4 / 16 * 1rem);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
  }

  .cs-active {
    .cs-line1 {
      top: 50%;
      transform: translate(-50%, -50%) rotate(225deg);
    }

    .cs-line2 {
      top: 50%;
      transform-origin: center;
      transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    }

    .cs-line3 {
      bottom: 100%;
      opacity: 0;
    }
  }

  .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }

  .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--grey-500);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .cs-line1 {
    top: 0;
    transform-origin: center;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }

  .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }

  .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }

  .ul-wrapper {
    opacity: 0;
    // background-color: var(--navBackground);
    overflow: hidden;
    position: absolute;
    top: 90px;
    left: 0;
    right: auto;
    z-index: -1;
    padding: 0 1em;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.4s, opacity 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    width: 100%;


    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 20px;
      width: 100%;
      border-radius: 5px;
      height: 120px;
      background-color: var(--toolTipBackground);

      li {
        text-align: center;
        list-style: none;
        width: 100%;
        margin-right: 0;

        a {
          color: var(--bodyTextColor);
          text-decoration: none;
          padding-bottom: .1em;
          font-size: 16px;
        }

        .cs-active {
          border-bottom: 2px solid var(--primary-400);
        }

      }
    }
  }

  .theme-login-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5em;

    .theme-toggle {
      height: fit-content;
    }

    .cs-button {
      border: none;
      background-color: var(--primary-500);
      padding: .5em .7em;
      text-decoration: none;
      color: var(--grey-100);
      height: fit-content;
      border-radius: 5px;

      &:hover {
        box-shadow: 4px 4px 6px var(--boxShadowColor2);
      }
    }
  }
}

footer {
  background-color: inherit;
  padding: 1em;

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;

    li {
      a {
        color: var(--bodyTextColor);
        font-size: 15px;
      }
    }
  }
}

/* Desktop nav & footer */
@media screen and (min-width: 700px) {
  #nav {
    padding: 1.5em 3em;

    .ul-wrapper {
      position: static;
      height: auto;
      z-index: 1;
      transform: none;
      opacity: 1;
      background-color: inherit;
      display: flex;
      justify-content: center;
      width: auto;
      padding: 0;

      ul {
        width: auto;
        height: auto;
        flex-direction: row;
        padding: 0;
        background-color: inherit;

        li {

          a {
            font-size: 1.02rem;
          }
        }
      }
    }

    .cs-toggle {
      display: none;
    }
  }

  footer {
    padding: 1.5em 3em;
  }
}

/* Desktop general styles*/
// @media screen and (min-width: 900px) {
//   #main {
//     padding-top: 6.5em;
//   }
// }