/* GENERAL STYLES */

/* variables */
:root {
  --primary-50: rgb(255, 245, 235);
  --primary-100: rgb(255, 221, 193);
  --primary-200: rgb(228, 193, 140);
  --primary-500: rgb(255, 164, 85);
  --primary-700: rgb(155, 88, 26);
  --primary-900: rgb(65, 47, 28);

  --secondary-100: rgb(255, 221, 182);

  --grey-100: rgb(245, 245, 245);
  --grey-200: rgb(248, 248, 248);
  --grey-300: rgb(221, 221, 221);
  --grey-500: rgb(122, 122, 122);
  --grey-700: rgb(47, 51, 59);
  --grey-900: rgb(27, 30, 33);

  --accentGreen-100: rgb(171, 255, 207);
  --accentGreen-200: rgb(144, 204, 198);
  --accentGreen-500: rgb(73, 136, 128);
  --accentGreen-900: rgb(35, 75, 61);

  --headerFontSize: clamp(1.9375rem, 4.2vw, 3.5rem);

  // background and text
  --bodyBackgroundColor: white;
  --bodyTextColor: black;
  --userPanelBackground: orange;
  --selectedBackground: orange;
  --borderColor: grey;

  // matrix colors
  --matrixBackground: orange;
  --matrixSaveBtn: green;
  --matrixText: black;

  --editorColor: white;

  --boxShadowColor: gray;
}

// theme colors
.app[data-theme='light'] {
  --bodyBackgroundColor: var(--grey-200);
  --bodyTextColor: var(--grey-700);
  --matrixBackground: var(--primary-50);
  --matrixSaveBtn: var(--accentGreen-100);
  --matrixText: var(--grey-900);
  --boxShadowColor: var(--grey-300);
  --editorColor: var(--grey-200);
  --userPanelBackground: white;
  --selectedBackground: var(--primary-50);
  --borderColor: var(--primary-100);
}

.app[data-theme='dark'] {
  --bodyBackgroundColor: var(--grey-900);
  --bodyTextColor: var(--grey-100);
  --matrixBackground: var(--primary-700);
  --matrixSaveBtn: var(--accentGreen-500);
  --matrixText: var(--grey-100);
  --boxShadowColor: transparent;
  --editorColor: black;
  --userPanelBackground: var(--grey-700);
  --selectedBackground: var(--grey-200);
  --borderColor: var(--grey-700);
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: auto;
}

/* GENERAL STYLES */
body {
  margin: 0;
}

.app {
  color: var(--bodyTextColor);
  background-color: var(--bodyBackgroundColor);
  min-height: 100vh;
}

h1 {
  font-size: var(--headerFontSize);
}

button {
  cursor: pointer;
  font: inherit;
  border: none;
  background: none;
}

/* NAV STYLES */
#nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;

  ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    padding: 0;

    li {

      a {
        border: none;
        font-weight: 500;
        text-decoration: none;
        color: var(--bodyTextColor);
        padding-bottom: .1em;
      }

      .cs-active {
        border-bottom: 2px solid var(--primary-500);
      }
    }
  }

  // .theme-toggle {
  //   position: absolute;
  //   right: 8em;
  //   top: 2.8em;
  // }

  .cs-button {
    border: none;
    background-color: var(--bodyTextColor);
    padding: .5em .7em;
    font-weight: 500;
    text-decoration: none;
    color: var(--bodyBackgroundColor);
    height: fit-content;
    border-radius: 5px;
  }
}