/* GENERAL STYLES */

/* variables */
:root {
  --primary-50: rgb(243, 251, 255);
  --primary-100: #99d3df;
  --primary-200: rgb(140, 196, 228);
  --primary-300: #1495db;
  --primary-500: #88bbd6;
  --primary-700: #62A5C9;
  --primary-900: rgb(28, 55, 65);

  --secondary-100: #D6A388;

  --grey-100: #f5f5f5;
  --grey-200: #e9e9e9;
  --grey-300: rgb(221, 221, 221);
  --grey-500: #cdcdcd;
  --grey-700: rgb(47, 51, 59);
  --grey-900: rgb(27, 30, 33);

  --accentGreen-100: rgb(171, 255, 175);
  --accentGreen-200: #88D6CA;
  --accentGreen-500: #94D688;
  --accentGreen-900: rgb(35, 75, 37);

  --headerFontSize: clamp(1.9375rem, 4.2vw, 3.5rem);

  // background and text
  --bodyBackgroundColor: white;
  --bodyTextColor: black;
  --userPanelBackground: orange;
  --selectedBackground: orange;
  --borderColor: grey;

  // matrix colors
  --matrixBackground: orange;
  --matrixSaveBtn: green;
  --matrixText: black;
  --editorButton: white;

  --editorColor: white;

  --boxShadowColor: gray;
  --formBoxShadowColor: gray;
}

// theme colors
.app[data-theme='light'] {
  --bodyBackgroundColor: var(--grey-100);
  --bodyTextColor: var(--grey-700);
  --matrixBackground: var(--primary-50);
  --matrixSaveBtn: var(--accentGreen-100);
  --matrixText: var(--grey-900);
  --editorButton: #fff;
  --boxShadowColor: rgba(221, 221, 221, .36);
  --formBoxShadowColor: var(--grey-500);
  --editorColor: #fff;
  --userPanelBackground: white;
  --selectedBackground: var(--primary-900);
  --borderColor: var(--primary-100);
}

.app[data-theme='dark'] {
  --bodyBackgroundColor: var(--grey-900);
  --bodyTextColor: var(--grey-100);
  --matrixBackground: var(--primary-700);
  --matrixSaveBtn: var(--accentGreen-500);
  --matrixText: var(--grey-100);
  --editorButton: var(--grey-300);
  --boxShadowColor: var(--grey-900);
  --formBoxShadowColor: var(--grey-900);
  --editorColor: black;
  --userPanelBackground: var(--grey-700);
  --selectedBackground: var(--grey-900);
  --borderColor: var(--grey-700);
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: auto;
}

/* GENERAL STYLES */
body {
  margin: 0;
}

.app {
  color: var(--bodyTextColor);
  background-color: var(--bodyBackgroundColor);
  min-height: 100vh;
}

h1 {
  font-size: var(--headerFontSize);
}

button {
  cursor: pointer;
  font: inherit;
  border: none;
  background: none;
}

main {
  padding-top: 6.8em;
}

/* NAV STYLES */
#nav {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 2em 1em;
  // position: relative;
  z-index: 10000;
  position: fixed;
  width: 100%;
  background-color: var(--bodyBackgroundColor);

  &.cs-active {
    &:before {
      width: 100%;
      opacity: 1;
    }

    .ul-wrapper {
      opacity: 1;
      transform: scaleX(1);
      transition-delay: 0.2s;
    }
  }

  .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    border-radius: calc(4 / 16 * 1rem);
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cs-active {
    .cs-line1 {
      top: 50%;
      transform: translate(-50%, -50%) rotate(225deg);
    }

    .cs-line2 {
      top: 50%;
      transform-origin: center;
      transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    }

    .cs-line3 {
      bottom: 100%;
      opacity: 0;
    }
  }

  .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }

  .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primary-500);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .cs-line1 {
    top: 0;
    transform-origin: center;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }

  .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }

  .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }

  .ul-wrapper {
    height: 100vh;
    opacity: 0;
    background-color: var(--userPanelBackground);
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.4s, opacity 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;


    ul {
      margin: 0;
      padding: 0;
      width: 100vw;
      min-width: 40%;
      height: 40vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: start;
      gap: 1.5em;

      li {
        text-align: center;
        list-style: none;
        width: 100%;
        margin-right: 0;

        a {
          color: var(--bodyTextColor);
          text-decoration: none;
          padding-bottom: .1em;
          font-weight: 500;
        }

        a:hover {
          font-weight: 500;
        }

        .cs-active {
          border-bottom: 2px solid var(--primary-700);
        }

      }
    }
  }

  // ul {
  //   display: flex;
  //   gap: 1.5em;
  //   list-style: none;
  //   padding: 0;

  //   li {

  //     a {
  //       border: none;
  //       font-weight: 500;
  //       text-decoration: none;
  //       color: var(--bodyTextColor);
  //       padding-bottom: .1em;
  //     }

  //     .cs-active {
  //       border-bottom: 2px solid var(--primary-700);
  //     }
  //   }
  //}

  // .theme-toggle {
  //   position: absolute;
  //   right: 8em;
  //   top: 2.8em;
  // }

  .theme-login-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5em;

    .theme-toggle {
      height: fit-content;
    }

    .cs-button {
      border: none;
      background-color: var(--primary-700);
      padding: .5em .7em;
      font-weight: 500;
      text-decoration: none;
      color: var(--grey-100);
      height: fit-content;
      border-radius: 5px;
    }
  }
}

/* Desktop nav */
@media screen and (min-width: 700px) {
  #nav {
    padding: 2em 3em;

    .ul-wrapper {
      position: static;
      height: auto;
      z-index: 1;
      transform: none;
      opacity: 1;
      background-color: inherit;
      display: flex;
      justify-content: center;

      ul {
        width: auto;
        height: auto;
        flex-direction: row;
      }
    }

    .cs-toggle {
      display: none;
    }
  }
}