/* STYLES FOR USER DASHBOARD PAGE */
#main {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .user-info {
            ul {
                list-style: none;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                gap: 1em;

                li {
                    display: flex;
                    justify-content: space-between;
                    gap: 2em;

                    button {
                        padding: .4em .6em;
                        font: inherit;
                    }

                    div {
                        display: flex;
                        gap: 1em;
                    }

                    .cs-active {
                        background-color: green;
                    }
                }
            }

            form {
              display: flex;
              flex-direction: column;
              padding: 1em;
              gap: 1em;
              width: 200px;

              input {
                padding: .5em;
                font: inherit;
              }

              
            }

            button {
                padding: .4em .6em;
                font: inherit;
            }
        }

        .matrix-container {
            .title {
                text-align: center;
            }

            #matrix {
                width: 100%;
            }

        }


    }
}

// @media screen and (min-width: 1200px) {
//     #main {
//         .container {
//             flex-direction: row;
//         }
//     }
// }