/* STYLES FOR USER DASHBOARD PAGE */
#main {
    background-color: var(--bodyBackgroundColor);

    .container {
        display: flex;
        flex-direction: column;

        .user-panel-wrapper {
            .show-panel-btn {
                padding: 10px;
                background-color: var(--surfaceColor-1);
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                color: var(--grey-50);
                position: relative;
                top: 20px;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 6px;
                box-shadow: 5px 10px 10px rgba(0, 0, 0, .08);

                &:hover {
                    background-color: var(--surfaceColor-2);

                    // svg {
                    //     fill: var(--grey-50);
                    // }
                }

                svg {
                    fill: var(--primary-400);
                }
            }

            .hide-panel-btn {
                padding: 10px 20px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                width: fit-content;
                font-size: 14px;
                position: relative;
                right: 20px;
                color: var(--headingColor);
                display: flex;
                align-items: center;
                gap: 6px;

                &:hover {
                    background-color: var(--surfaceColor-2);

                }

                svg {
                    fill: var(--primary-400);

                }

            }
        }

        .overlay {
            height: 100vh;
            width: 100vw;
            position: fixed;
            top: 0;
            z-index: -100;
            background-color: #0c0c0c7c;

            &.cs-active {
                z-index: 10;

                .user-panel {
                    transform: scaleX(1);
                    opacity: 1;
                    transition-delay: .2s;
                }
            }
        }

        .user-panel {
            background-color: var(--userPanelBackground);
            padding: 35px 20px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 2em;
            position: relative;
            max-width: 500px;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .4s, opacity .3s;
            opacity: 0;
            margin-top: 76px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            .greeting {
                position: relative;

                h2 {
                    margin: 0;
                }

                button {
                    color: var(--secondary-500);
                    font-size: .8rem;
                }

                p {
                    max-width: 450px;
                }

                p:nth-of-type(1) {
                    margin-top: 2em;
                }

                p:nth-of-type(2) {
                    font-weight: 600;
                }
            }

            .user-list {
                border-radius: 10px;
                max-width: 500px;
                // position: relative;

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 1em;
                    padding-left: 0;
                    margin: 0;

                    li[class="cs-active"] {
                        background-color: var(--surfaceColor-2);
                        box-shadow: none;

                        .cs-button {
                            color: var(--bodyTextColor);
                        }
                    }

                    li {
                        display: flex;
                        justify-content: space-between;
                        gap: 2em;
                        padding: 0.4em 1em;
                        padding-left: 0;
                        border-radius: 5px;

                        &:hover {
                            background-color: var(--editorColor);

                            .cs-button {
                                color: var(--bodyTextColor);
                            }
                        }

                        button {
                            padding: 0;
                        }

                        .cs-button {
                            padding: .2em .6em;
                            font: inherit;
                            font-size: 16px;
                            font-weight: 400;
                            color: var(--bodyTextColor);
                            border-radius: 20px;
                            flex-grow: 2;
                            text-align: left;
                        }

                        div {
                            display: flex;
                            gap: 1.5em;

                            button {
                                svg {
                                    fill: rgb(151, 81, 81);
                                }

                                &:nth-of-type(1) {
                                    svg {
                                        fill: rgb(108, 148, 108);
                                    }
                                }
                            }
                        }

                        .cs-active {
                            color: var(--grey-900);
                        }
                    }
                }

                .new-btn {
                    color: var(--secondary-500);
                    margin-top: 1em;
                }
            }

            .form-wrapper {
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.671);
                z-index: 99;


                #update-form {
                    width: 90%;
                    max-width: 350px;
                    border-radius: 5px;
                    background-color: var(--bodyBackgroundColor);
                    padding: 24px;
                    box-shadow: .6px .6px .8px var(--formBoxShadowColor);
                    position: relative;

                    h2 {
                        margin-top: 0;
                    }

                    .close-btn {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        padding-top: 0;

                        label {
                            font-weight: 500;
                            font-size: 15px;
                            display: block;
                            margin-bottom: 10px;
                            color: var(--bodyTextColor);
                        }

                        input {
                            padding: .5em;
                            font: inherit;
                            border-radius: 5px;
                            border: 1px solid var(--grey-300);
                            background: transparent;
                            color: var(--bodyTextColor);
                            width: 100%;
                        }

                        span {
                            color: #914747;
                        }

                        p {
                            color: #6b3737;
                            font-weight: 500;
                            font-size: 16px;

                            margin: 0;
                        }

                        button {
                            padding: .5em .6em;
                            font: inherit;
                            color: var(--grey-100);
                            background-color: var(--grey-700);
                            border-radius: 5px;
                        }

                    }
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    #main {
        .container {

            .user-panel-wrapper {
                .show-panel-btn {
                    top: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    #main {
        .container {
            // .overlay {
            //     top: 85px;
            // }

            .user-panel {
                margin-top: 84px;

                .form-wrapper {
                    #update-form {
                        max-width: 400px;
                        padding: 30px;
                    }
                }
            }
        }
    }
}

// @media screen and (min-width:1200px) {
//     #main {
//         .container {
//             .user-panel {
//                 row-gap: 2em;
//                 grid-template-columns: 1fr 1fr;
//                 grid-template-areas: "text userlist"
//                     "form form";

//                 .greeting {
//                     grid-area: text;
//                     justify-self: center;

//                 }

//                 .user-list {
//                     width: 500px;
//                     grid-area: userlist;
//                     justify-self: center;
//                 }

//                 #update-form {
//                     grid-area: form;
//                     justify-self: center;
//                 }
//             }
//         }
//     }
// }